#form {
	border: 1px solid grey;
	padding: 5px 5px;
	display: inline-block;
	font-weight: bold; 
}

#result-form {
	display: none;
	border: 1px solid #aaa;
	padding: 15px 10px 10px 10px;
	width: 400px;
	height: 130px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}

#buttonOK {
	color: #fff;
	text-decoration: none;
	background: #81BEF7;
	padding: 11px 24px;
	float: right;
	border-radius: 4px;
}

#buttonOK:hover { 
	background: #0080FF; 
}

#buttonOK:active {
	background: #01DF3A; 
}